[learning-python3.ipynb]: https://gist.githubusercontent.com/kenjyco/69eeb503125035f21a9d/raw/learning-python3.ipynb

Right-click -> "save link as" [https://gist.githubusercontent.com/kenjyco/69eeb503125035f21a9d/raw/learning-python3.ipynb][learning-python3.ipynb] to get most up-to-date version of this notebook file.

## Quick note about Jupyter cells

When you are editing a cell in Jupyter notebook, you need to re-run the cell by pressing **`<Shift> + <Enter>`**. This will allow changes you made to be available to other cells.

Use **`<Enter>`** to make new lines inside a cell you are editing.

#### Code cells

Re-running will execute any statements you have written. To edit an existing code cell, click on it.

#### Markdown cells

Re-running will render the markdown text. To edit an existing markdown cell, double-click on it.

<hr>

## Common Jupyter operations

Near the top of the https://try.jupyter.org page, Jupyter provides a row of menu options (`File`, `Edit`, `View`, `Insert`, ...) and a row of tool bar icons (disk, plus sign, scissors, 2 files, clipboard and file, up arrow, ...).

#### Inserting and removing cells

- Use the "plus sign" icon to insert a cell below the currently selected cell
- Use "Insert" -> "Insert Cell Above" from the menu to insert above

#### Clear the output of all cells

- Use "Kernel" -> "Restart" from the menu to restart the kernel
    - click on "clear all outputs & restart" to have all the output cleared

#### Save your notebook file locally

- Clear the output of all cells
- Use "File" -> "Download as" -> "IPython Notebook (.ipynb)" to download a notebook file representing your https://try.jupyter.org session

#### Load your notebook file in try.jupyter.org

1. Visit https://try.jupyter.org
2. Click the "Upload" button near the upper right corner
3. Navigate your filesystem to find your `*.ipynb` file and click "open"
4. Click the new "upload" button that appears next to your file name
5. Click on your uploaded notebook file

<hr>

## References

- https://try.jupyter.org
- https://docs.python.org/3/tutorial/index.html
- https://docs.python.org/3/tutorial/introduction.html
- https://daringfireball.net/projects/markdown/syntax

<hr>

## Python objects, basic types, and variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

<hr>

## Basic operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [ ]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [ ]:
# Addition
print(num1 + num2) 
print(num5 + num6)

7
10

In [ ]:
# Subtraction
num2 - num3

-10.41

In [ ]:
# Multiplication
num3 * num4

-4.446

In [ ]:
# Division
num10 = num4/num5
print(num10)
print(num4 // num5)

-0.08571428571428572
-1.0

In [ ]:
# Exponent
num5 ** num6

343

In [ ]:
# Increment existing variable
num7 += 4
num7

15.11

In [ ]:
# Decrement existing variable
num6 -= 2
num6

1

In [ ]:
# Multiply & re-assign
num3 *= 5
num3

37.05

In [ ]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-101.14999999999999

In [ ]:
# Are these two expressions equal to each other?
num1 + num2 == num5

True

In [ ]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [ ]:
# Is the first expression less than the second expression?
num5 < num6

False

In [ ]:
# Is this expression True?
5 > 3 > 1

True

In [ ]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [ ]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [ ]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [ ]:
# Notice that the string was not modified
simple_string1

'an example'

In [ ]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [ ]:
# This string wasn't modified either
simple_string2

'oranges '

In [ ]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [ ]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [ ]:
# Add and re-assign
#simple_string5 = simple_string1 + 'gigetto'
simple_string1 += ' that re-assigned the original string'
simple_string1
#simple_string1 -= 'string'

'an example that re-assigned the original string that re-assigned the original string that re-assigned the original string'

In [ ]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

In [ ]:
# Note: Subtraction, division, and decrement operators do not apply to strings.

## Basic containers

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** (string: immutable; indexed by integers; items are stored in the order they were added)
- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tuple: immutable; indexed by integers; items are stored in the order they were added)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT stored in the order they were added)
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

When defining lists, tuples, or sets, use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

In [ ]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [ ]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [ ]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [ ]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{3, 5, 6, False, 'cat', 'dog'}

In [ ]:
# Items in the dict object are not stored in the order they were added
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [ ]:
# Add and re-assign
list1 += [5, 'grapes']
print(list1)
list1.append('gigetto')
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes', 6, 5, 'grapes']

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes', 6, 5, 'grapes', 'gigetto']

In [ ]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [ ]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## Accessing data in containers

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

In [ ]:
# Access the first item in a sequence
list1[0]

3

In [ ]:
# Access the last item in a sequence
tuple1[-1]

'grapes'

In [ ]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [ ]:
# Access a range of items in a sequence
print(tuple1)
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

(3, 5, 6, 3, 'dog', 'cat')

In [ ]:
# Access a range of items in a sequence
print(list1)
list1[4:]

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes', 6, 5, 'grapes', 'gigetto']

['dog', 'cat', False, 5, 'grapes', 6, 5, 'grapes', 'gigetto']

In [ ]:
numeri = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numeri)
print(numeri[3:7])
print(numeri[7:9])
print(numeri[9:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6]
[7, 8]
[9]

In [ ]:
# Access an item in a dictionary
dict1['name']

'Jane'

# Esercizio

Costruire un dictionary che contiene un dictionary di stringhe. Accedere ad una stringa del dictonary piÃ¹ interno

In [ ]:
# Access an element of a sequence in a dictionary
print(dict1)
print(dict1['fav_foods'][2])

# TODO: Esperimento interessante con le dictionary
dict2 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish'], 
         'address': {'street': 'Geary Street 53rd', 'city': "San Francisco"}}
print(dict2['address']['city'])

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}
fish
San Francisco

## Python built-in functions and callables

A **function** is a Python object that you can "call" to **perform an action** or compute and **return another object**. You call a function by placing parentheses to the right of the function name. Some functions allow you to pass **arguments** inside the parentheses (separating multiple arguments with a comma). Internal to the function, these arguments are treated like variables.

Python has several useful built-in functions to help you work with different objects and/or your environment. Here is a small sample of them:

- **`type(obj)`** to determine the type of an object
- **`len(container)`** to determine how many items are in a container
- **`callable(obj)`** to determine if an object is callable
- **`sorted(container)`** to return a new list from a container, with the items sorted
- **`sum(container)`** to compute the sum of a container of numbers
- **`min(container)`** to determine the smallest item in a container
- **`max(container)`** to determine the largest item in a container
- **`abs(number)`** to determine the absolute value of a number
- **`repr(obj)`** to return a string representation of an object

> Complete list of built-in functions: https://docs.python.org/3/library/functions.html

There are also different ways of defining your own functions and callable objects that we will explore later.

In [ ]:
# Use the type() function to determine the type of an object
type(simple_string1)

str

In [ ]:
# Use the len() function to determine how many items are in a container
len(dict1)

3

In [ ]:
# Use the len() function to determine how many items are in a container
len(simple_string2)

24

In [ ]:
# Use the callable() function to determine if an object is callable
callable(len)

True

In [ ]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [ ]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [ ]:
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [ ]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [ ]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [ ]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

'a'

In [ ]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [ ]:
# Use the max() function to determine the largest item in a container
max('gibberish')

's'

In [ ]:
# Use the abs() function to determine the absolute value of a number
abs(10)

10

In [ ]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

12

In [ ]:
# Use the repr() function to return a string representation of an object
repr(set1)

"{False, 3, 5, 6, 'dog', 'cat'}"

## Python object attributes (methods and properties)

Different types of objects in Python have different **attributes** that can be referred to by name (similar to a variable). To access an attribute of an object, use a dot (`.`) after the object, then specify the attribute (i.e. `obj.attribute`)

When an attribute of an object is a callable, that attribute is called a **method**. It is the same as a function, only this function is bound to a particular object.

When an attribute of an object is not a callable, that attribute is called a **property**. It is just a piece of data about the object, that is itself another object.

The built-in `dir()` function can be used to return a list of an object's attributes.

<hr>

## Some methods on string objects

- **`.capitalize()`** to return a capitalized version of the string (only first char uppercase)
- **`.upper()`** to return an uppercase version of the string (all chars uppercase)
- **`.lower()`** to return an lowercase version of the string (all chars lowercase)
- **`.count(substring)`** to return the number of occurences of the substring in the string
- **`.startswith(substring)`** to determine if the string starts with the substring
- **`.endswith(substring)`** to determine if the string ends with the substring
- **`.replace(old, new)`** to return a copy of the string with occurences of the "old" replaced by "new"

In [ ]:
# Assign a string to a variable
a_string = 'tHis is a sTriNg'

In [ ]:
# Return a capitalized version of the string
a_string2 = a_string.capitalize()
print(a_string2)

This is a string

In [ ]:
# Return an uppercase version of the string
a_string.upper()

'THIS IS A STRING'

In [ ]:
# Return a lowercase version of the string
a_string.lower()

'this is a string'

In [ ]:
# Notice that the methods called have not actually modified the string
a_string

'tHis is a sTriNg'

In [ ]:
# Count number of occurences of a substring in the string
a_string.count('i')

3

In [ ]:
# Count number of occurences of a substring in the string after a certain position
a_string.count('i', 7)

1

In [ ]:
# Count number of occurences of a substring in the string
a_string.count('is')

2

In [ ]:
# Does the string start with 'this'?
a_string.startswith('this')

False

In [ ]:
# Does the lowercase string start with 'this'?
a_string.lower().startswith('this')

True

In [ ]:
# Does the string end with 'Ng'?
a_string.endswith('Ng')

True

In [ ]:
# Return a version of the string with a substring replaced with something else
a_string.replace('is', 'XYZ')

'tHXYZ XYZ a sTriNg'

In [ ]:
# Return a version of the string with a substring replaced with something else
a_string.replace('i', '!')

'tH!s !s a sTr!Ng'

In [ ]:
# Return a version of the string with the first 2 occurences a substring replaced with something else
a_string.replace('i', '!', 2)

'tH!s !s a sTriNg'

## Some methods on list objects

- **`.append(item)`** to add a single item to the list
- **`.extend([item1, item2, ...])`** to add multiple items to the list
- **`.remove(item)`** to remove a single item from the list
- **`.pop()`** to remove and return the item at the end of the list
- **`.pop(index)`** to remove and return an item at an index

Lists are Mutable.

In [ ]:
set2 = { 3, 5, 4, 3, 'ciao'}
list3 = [ 'gino', 'pino', 'tino']

In [ ]:
list3.append('thimoty')
list3.remove('pino')
list3

['gino', 'tino', 'thimoty']

In [ ]:
elemento_poppato = list3.pop()
print(elemento_poppato)
list3

gino

[]

## Some methods on set objects

- **`.add(item)`** to add a single item to the set
- **`.update([item1, item2, ...])`** to add multiple items to the set
- **`.update(set2, set3, ...)`** to add items from all provided sets to the set
- **`.remove(item)`** to remove a single item from the set
- **`.pop()`** to remove and return a random item from the set
- **`.difference(set2)`** to return items in the set that are not in another set
- **`.intersection(set2)`** to return items in both sets
- **`.union(set2)`** to return items that are in either set
- **`.symmetric_difference(set2)`** to return items that are only in one set (not both)
- **`.issuperset(set2)`** does the set contain everything in the other set?
- **`.issubset(set2)`** is the set contained in the other set?

Sets are mutable as well.

In [ ]:
set2.add('hello')
print(set2)

{3, 4, 5, 'ciao', 'hello'}

## Some methods on dict objects

- **`.update([(key1, val1), (key2, val2), ...])`** to add multiple key-value pairs to the dict
- **`.update(dict2)`** to add all keys and values from another dict to the dict
- **`.pop(key)`** to remove key and return its value from the dict (error if key not found)
- **`.pop(key, default_val)`** to remove key and return its value from the dict (or return default_val if key not found)
- **`.get(key)`** to return the value at a specified key in the dict (or None if key not found)
- **`.get(key, default_val)`** to return the value at a specified key in the dict (or default_val if key not found)
- **`.keys()`** to return a list of keys in the dict
- **`.values()`** to return a list of values in the dict
- **`.items()`** to return a list of key-value pairs (tuples) in the dict

In [ ]:
dict2.items()

dict_items([('name', 'Jane'), ('age', 23), ('fav_foods', ['pizza', 'fruit', 'fish']), ('address', {'street': 'Geary Street 53rd', 'city': 'San Francisco'})])

In [ ]:
len(dict2)

4

## Positional arguments and keyword arguments to callables

You can call a function/method in a number of different ways:

- `func()`: Call `func` with no arguments
- `func(arg)`: Call `func` with one positional argument
- `func(arg1, arg2)`: Call `func` with two positional arguments
- `func(arg1, arg2, ..., argn)`: Call `func` with many positional arguments
- `func(kwarg=value)`: Call `func` with one keyword argument 
- `func(kwarg1=value1, kwarg2=value2)`: Call `func` with two keyword arguments
- `func(kwarg1=value1, kwarg2=value2, ..., kwargn=valuen)`: Call `func` with many keyword arguments
- `func(arg1, arg2, kwarg1=value1, kwarg2=value2)`: Call `func` with positonal arguments and keyword arguments
- `obj.method()`: Same for `func`.. and every other `func` example

When using **positional arguments**, you must provide them in the order that the function defined them (the function's **signature**).

When using **keyword arguments**, you can provide the arguments you want, in any order you want, as long as you specify each argument's name.

When using positional and keyword arguments, positional arguments must come first.

In [ ]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# Now call the function we just defined:
fib(2000)
print(n)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597
9000

The actual parameters (arguments) to a function call are introduced in the local symbol table of the called function when it is called; thus, arguments are passed using call by value (where the value is always an object reference, not the value of the object). 1 When a function calls another function, a new local symbol table is created for that call.

A function definition introduces the function name in the current symbol table. The value of the function name has a type that is recognized by the interpreter as a user-defined function. This value can be assigned to another name which can then also be used as a function.

In [ ]:
fib

f = fib
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
# Returning a result
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result

f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
# Default argument values
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

# Call the function
ask_ok("are you ok?", reminder='Prova ancora')

are you ok?gigio
Prova ancora
are you ok?yes

True

In [ ]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [ ]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

## Lambda expressions##

Small anonymous functions can be created with the lambda keyword. This function returns the sum of its two arguments: lambda a, b: a+b. Lambda functions can be used wherever function objects are required. They are syntactically restricted to a single expression

In [ ]:
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)
print(callable(f))
print(f(0))

print(f(1))
print(f(32))

True
42
43
74

In [ ]:
def generalMultiplier(factor):
    return lambda x: x*factor

raddoppiatore = generalMultiplier(2) 

print(raddoppiatore(4))
print(raddoppiatore([1, 2, 3]))

8
[1, 2, 3, 1, 2, 3]

In [ ]:
def salutatore(formaDiSaluto):
    return lambda nome, cognome: formaDiSaluto+", "+nome+" "+cognome

salutatoreFormale = salutatore('Buongiorno')
salutatoreInglese = salutatore('Hello')
salutatoreSimpatico = salutatore('UellÃ ')

print(salutatoreFormale('Thimoty', 'Barbieri'))
print(salutatoreFormale('Eleonora', 'Cernuschi'))

print(salutatoreSimpatico('Carla', 'Maggi'))

Buongiorno, Thimoty Barbieri
Buongiorno, Eleonora Cernuschi
UellÃ , Carla Maggi

 ## Salutatore
 
 Trovare un modo per generare funzioni che salutano in modo formale, in modo simpatico, in inglese. Queste funzioni riceveono tutte come parametro il nome e il cognome della persona.
 Usarle per salutare l'utente.

In [ ]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
print(pairs)
pairs.sort(key=lambda pair: 1/pair[0])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

[(4, 'four'), (3, 'three'), (2, 'two'), (1, 'one')]

## Formatting strings and using placeholders

In [ ]:
print('{0} and {1}'.format('spam', 'eggs'))

print('{1} and {0}'.format('spam', 'eggs'))

spam and eggs
eggs and spam

In [ ]:
print('This {food} is {adjective}.'.format(
      food='spam', adjective='absolutely horrible'))

This spam is absolutely horrible.

In [ ]:
# See Python's Format String Syntax
for x in range(1, 11):
  print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

## Python "for loops"

It is easy to **iterate** over a collection of items using a **for loop**. The strings, lists, tuples, sets, and dictionaries we defined are all **iterable** containers.

The for loop will go through the specified container, one item at a time, and provide a temporary variable for the current item. You can use this temporary variable like a normal variable.

In [ ]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
  print(w, len(w))

cat 3
window 6
defenestrate 12

In [ ]:
# Iterate while changing the inspected array
for w in words[:]:  # Loop over a slice copy of the entire list.
    if len(w) > 6:
        words.insert(0, w)
words

['defenestrate', 'cat', 'window', 'defenestrate']

To iterate over the indices of a sequence, you can combine range() and len() as follows. More elaborate techniques (such as enumerate() are described in Looping Techniques)

In [ ]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
 print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [ ]:
# Using enumerate
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [ ]:
# Looping two or more sequences in parallel with zip()
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

## Python "if statements" and "while loops"

Conditional expressions can be used with these two **conditional statements**.

The **if statement** allows you to test a condition and perform some actions if the condition evaluates to `True`. You can also provide `elif` and/or `else` clauses to an if statement to take alternative actions if the condition evaluates to `False`.

The **while loop** will keep looping until its conditional expression evaluates to `False`.

> Note: It is possible to "loop forever" when using a while loop with a conditional expression that never evaluates to `False`.
>
> Note: Since the **for loop** will iterate over a container of items until there are no more, there is no need to specify a "stop looping" condition.

In [ ]:
## Fibonacci 
a, b = 0, 1
while a < 10:
  print(a)
  a, b = b, a+b

0
1
1
2
3
5
8

In [ ]:
# if, elif, else block
x = 42
if x < 0:
  x = 0
  print('Negative changed to zero')
elif x == 0:
  print('Zero')
elif x == 1:
  print('Single')
else:
  print('More')

More

## List, set, and dict comprehensions

In [ ]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# list comprehension
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Lambda equivalent
squares = list(map(lambda x: x**2, range(10)))

In [ ]:
# Obtaining a 2D cartesian space for two vectors
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
# dict comprehensions
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [ ]:
# set comprehensions
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## Creating objects from arguments or other objects

The basic types and containers we have used so far all provide **type constructors**:

- `int()`
- `float()`
- `str()`
- `list()`
- `tuple()`
- `set()`
- `dict()`

Up to this point, we have been defining objects of these built-in types using some syntactic shortcuts, since they are so common.

Sometimes, you will have an object of one type that you need to convert to another type. Use the **type constructor** for the type of object you want to have, and pass in the object you currently have.

In [ ]:
j = int(23)
j
myset = set(['hello', 1, 3, 3, 6])
myset

{1, 3, 6, 'hello'}

## Importing modules

A module is a file containing Python definitions and statements. The file name is the module name with the suffix .py appended. Within a module, the moduleâs name (as a string) is available as the value of the global variable __name__.

In [ ]:
# Create a file fibo.py with fib and fib2 functions
# import fibo
#fibo.fib(1000)
#fibo.fib2(100)
#fibo.__name__

# See https://docs.python.org/3/library/ Python Standard Library
import statistics as stat
print(stat.mean([1, 2, 3, 4, 4]))

import os
entries = os.listdir('./')
print(entries)

2.8
['.git', '.gitignore', '.ipynb_checkpoints', 'boxplot_color.ipynb', 'Chapter 10 - Advertising Example.ipynb', 'Chapter 2 - Data Processing.ipynb', 'Chapter 3 - Modeling and prediction.ipynb', 'Chapter 4 - Evaluation and Optimization.ipynb', 'Chapter 6 - NYC Taxi Full Example.ipynb', 'Chapter 7 - Advanced Feature Engineering.ipynb', 'Chapter 8 - Movie Review Full Example.ipynb', 'Chapter 9 - Scaling ML Workflows.ipynb', 'classification-tree.R', 'CRisk_final.pdf', 'Daniel-slides.PDF', 'data', 'decision-tree.py', 'Examples-Matplotlib-Gallery.ipynb', 'figures', 'gym-nvchain.py', 'Keep it simple! How to understand Gradient Descent algorithm.pdf', 'learning-python3.ipynb', 'LICENSE', 'mosaicplot.py', 'old', 'Practical Machine Learning-PythonEdition_v3.pdf', 'README.md', 'Reinforcement learning tutorial using Python and Keras - Adventures in Machine Learning.pdf', 'r_learning_python.py', 'svm_gui.ipynb', 'svm_gui.py', 'svm_gui2.py', 'titanic-logistic-regression-with-python.ipynb', 'titanic_tree.dot']

## Exceptions

Even if a statement or expression is syntactically correct, it may cause an error when an attempt is made to execute it. Errors detected during execution are called exceptions and are not unconditionally fatal

In [ ]:
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        print("Oops!  That was no valid number.  Try again...")

Please enter a number: gigio
Oops!  That was no valid number.  Try again...
Please enter a number: 12

In [ ]:
import sys

try:
    f = open('myfile.txt')
    s = f.readline()
    i = int(s.strip())
except OSError as err:
    print("OS error: {0}".format(err))
except ValueError:
    print("Could not convert data to an integer.")
except:
    print("Unexpected error:", sys.exc_info()[0])
    raise

OS error: [Errno 2] No such file or directory: 'myfile.txt'

## Classes: Creating your own objects

Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods (defined by its class) for modifying its state.

## Defining functions and methods

In [ ]:
class MyClass:
    """A simple example class"""
    i = 12345

    def f(self):
        return 'hello world'
    
mc = MyClass()
mc2 = MyClass()
print(mc.f())
print(mc2.f())
print(mc.i)
print(mc2.i)
mc2.i = 54321
print(mc2.i)
print(mc.i)

hello world
hello world
12345
12345
54321
12345

## Creating an initializer method for your classes

In [ ]:
class Complex:
    def __init__(self, realpart, imagpart):
        self.r = realpart
        self.i = imagpart
    
x = Complex(3.0, -4.5)
y = Complex(5.0, -1.0)
print(x.r, x.i)
print(y.r, y.i)

3.0 -4.5
5.0 -1.0

In [ ]:
class Dog:

    kind = 'canine'         # class variable shared by all instances

    def __init__(self, name):
        self.name = name    # instance variable unique to each instance

d = Dog('Fido')
e = Dog('Buddy')
print(d.kind)                  # shared by all dogs
print(e.kind)                  # shared by all dogs
print(d.name)                  # unique to d
print(e.name)                  # unique to e

canine
canine
Fido
Buddy

## Inheritance

In [ ]:
# Define a new class called `Thing` that is derived from the base Python object
class Thing(object):
    my_property = 'I am a "Thing"'


# Define a new class called `DictThing` that is derived from the `dict` type
class DictThing(dict):
    my_property = 'I am a "DictThing"'

In [ ]:
print(Thing)
print(type(Thing))
print(DictThing)
print(type(DictThing))
print(issubclass(DictThing, dict))
print(issubclass(DictThing, object))

<class '__main__.Thing'>
<class 'type'>
<class '__main__.DictThing'>
<class 'type'>
True
True

In [ ]:
# Create "instances" of our new classes
t = Thing()
d = DictThing()
print(t)
print(type(t))
print(d)
print(type(d))

<__main__.Thing object at 0x7f2170f3d240>
<class '__main__.Thing'>
{}
<class '__main__.DictThing'>

In [ ]:
# Interact with a DictThing instance just as you would a normal dictionary
d['name'] = 'Sally'
print(d)

{'name': 'Sally'}

In [ ]:
d.update({
        'age': 13,
        'fav_foods': ['pizza', 'sushi', 'pad thai', 'waffles'],
        'fav_color': 'green',
    })
print(d)

{'fav_color': 'green', 'name': 'Sally', 'fav_foods': ['pizza', 'sushi', 'pad thai', 'waffles'], 'age': 13}

In [ ]:
print(d.my_property)

I am a "DictThing"

# Gestione File

In [13]:
# open() returns a file object, and is most commonly used with two arguments: open(filename, mode).
the_file = 'sample_data/anscombe.json'
f = open(the_file, 'r+')

The second argument is another string containing a few characters describing the way in which the file will be used. mode can be 'r' when the file will only be read, 'w' for only writing (an existing file with the same name will be erased), and 'a' opens the file for appending; any data written to the file is automatically added to the end. 'r+' opens the file for both reading and writing. The mode argument is optional; 'r' will be assumed if itâs omitted.

In [9]:
f

In [10]:
# The entire file
f.read()

'[\n  {"Series":"I", "X":10.0, "Y":8.04},\n  {"Series":"I", "X":8.0, "Y":6.95},\n  {"Series":"I", "X":13.0, "Y":7.58},\n  {"Series":"I", "X":9.0, "Y":8.81},\n  {"Series":"I", "X":11.0, "Y":8.33},\n  {"Series":"I", "X":14.0, "Y":9.96},\n  {"Series":"I", "X":6.0, "Y":7.24},\n  {"Series":"I", "X":4.0, "Y":4.26},\n  {"Series":"I", "X":12.0, "Y":10.84},\n  {"Series":"I", "X":7.0, "Y":4.81},\n  {"Series":"I", "X":5.0, "Y":5.68},\n\n  {"Series":"II", "X":10.0, "Y":9.14},\n  {"Series":"II", "X":8.0, "Y":8.14},\n  {"Series":"II", "X":13.0, "Y":8.74},\n  {"Series":"II", "X":9.0, "Y":8.77},\n  {"Series":"II", "X":11.0, "Y":9.26},\n  {"Series":"II", "X":14.0, "Y":8.10},\n  {"Series":"II", "X":6.0, "Y":6.13},\n  {"Series":"II", "X":4.0, "Y":3.10},\n  {"Series":"II", "X":12.0, "Y":9.13},\n  {"Series":"II", "X":7.0, "Y":7.26},\n  {"Series":"II", "X":5.0, "Y":4.74},\n\n  {"Series":"III", "X":10.0, "Y":7.46},\n  {"Series":"III", "X":8.0, "Y":6.77},\n  {"Series":"III", "X":13.0, "Y":12.74},\n  {"Series":"III", "X":9.0, "Y":7.11},\n  {"Series":"III", "X":11.0, "Y":7.81},\n  {"Series":"III", "X":14.0, "Y":8.84},\n  {"Series":"III", "X":6.0, "Y":6.08},\n  {"Series":"III", "X":4.0, "Y":5.39},\n  {"Series":"III", "X":12.0, "Y":8.15},\n  {"Series":"III", "X":7.0, "Y":6.42},\n  {"Series":"III", "X":5.0, "Y":5.73},\n\n  {"Series":"IV", "X":8.0, "Y":6.58},\n  {"Series":"IV", "X":8.0, "Y":5.76},\n  {"Series":"IV", "X":8.0, "Y":7.71},\n  {"Series":"IV", "X":8.0, "Y":8.84},\n  {"Series":"IV", "X":8.0, "Y":8.47},\n  {"Series":"IV", "X":8.0, "Y":7.04},\n  {"Series":"IV", "X":8.0, "Y":5.25},\n  {"Series":"IV", "X":19.0, "Y":12.50},\n  {"Series":"IV", "X":8.0, "Y":5.56},\n  {"Series":"IV", "X":8.0, "Y":7.91},\n  {"Series":"IV", "X":8.0, "Y":6.89}\n]\n'

In [17]:
f.close()
f = open(the_file, 'r+')

In [18]:
# Line by line with \n
f.readline()

'[\n'

In [19]:
f.readline()

'  {"Series":"I", "X":10.0, "Y":8.04},\n'

In [20]:
f.close()

In [23]:
# With clause
with open(the_file) as f:
  read_data = f.read()

print(read_data)
# Closed outside with
f.closed

[
  {"Series":"I", "X":10.0, "Y":8.04},
  {"Series":"I", "X":8.0, "Y":6.95},
  {"Series":"I", "X":13.0, "Y":7.58},
  {"Series":"I", "X":9.0, "Y":8.81},
  {"Series":"I", "X":11.0, "Y":8.33},
  {"Series":"I", "X":14.0, "Y":9.96},
  {"Series":"I", "X":6.0, "Y":7.24},
  {"Series":"I", "X":4.0, "Y":4.26},
  {"Series":"I", "X":12.0, "Y":10.84},
  {"Series":"I", "X":7.0, "Y":4.81},
  {"Series":"I", "X":5.0, "Y":5.68},

  {"Series":"II", "X":10.0, "Y":9.14},
  {"Series":"II", "X":8.0, "Y":8.14},
  {"Series":"II", "X":13.0, "Y":8.74},
  {"Series":"II", "X":9.0, "Y":8.77},
  {"Series":"II", "X":11.0, "Y":9.26},
  {"Series":"II", "X":14.0, "Y":8.10},
  {"Series":"II", "X":6.0, "Y":6.13},
  {"Series":"II", "X":4.0, "Y":3.10},
  {"Series":"II", "X":12.0, "Y":9.13},
  {"Series":"II", "X":7.0, "Y":7.26},
  {"Series":"II", "X":5.0, "Y":4.74},

  {"Series":"III", "X":10.0, "Y":7.46},
  {"Series":"III", "X":8.0, "Y":6.77},
  {"Series":"III", "X":13.0, "Y":12.74},
  {"Series":"III", "X":9.0, "Y":7.11},
  {"Series":"III", "X":11.0, "Y":7.81},
  {"Series":"III", "X":14.0, "Y":8.84},
  {"Series":"III", "X":6.0, "Y":6.08},
  {"Series":"III", "X":4.0, "Y":5.39},
  {"Series":"III", "X":12.0, "Y":8.15},
  {"Series":"III", "X":7.0, "Y":6.42},
  {"Series":"III", "X":5.0, "Y":5.73},

  {"Series":"IV", "X":8.0, "Y":6.58},
  {"Series":"IV", "X":8.0, "Y":5.76},
  {"Series":"IV", "X":8.0, "Y":7.71},
  {"Series":"IV", "X":8.0, "Y":8.84},
  {"Series":"IV", "X":8.0, "Y":8.47},
  {"Series":"IV", "X":8.0, "Y":7.04},
  {"Series":"IV", "X":8.0, "Y":5.25},
  {"Series":"IV", "X":19.0, "Y":12.50},
  {"Series":"IV", "X":8.0, "Y":5.56},
  {"Series":"IV", "X":8.0, "Y":7.91},
  {"Series":"IV", "X":8.0, "Y":6.89}
]

True

In [27]:
# Writing to a file in a structured way
write_file = 'test_write_file.csv'
data = [[12, 32, 43], [54, 55, 66], [18, 844, 12]]
with open(write_file, mode='w') as f:
  for line in data:
    print(line)
    f.write('{0[0]}, {0[1]}, {0[2]}\n'.format(line))

[12, 32, 43]
[54, 55, 66]
[18, 844, 12]

In [28]:
# Reading a file line by line
with open(write_file, 'r') as f:
    for line in f:
        print(line)

12, 32, 43

54, 55, 66

18, 844, 12