<a href="https://colab.research.google.com/github/thimotyb/real-world-machine-learning/blob/python3/REST_request_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)

In [11]:
# Perform a GET
import requests
api_url = "https://jsonplaceholder.typicode.com/todos/3"
response = requests.get(api_url)

In [5]:
# Payload Json
response.json()

{'completed': False, 'id': 3, 'title': 'fugiat veniam minus', 'userId': 1}

In [ ]:
response.status_code

200

In [8]:
response.headers

{'Date': 'Mon, 18 Oct 2021 08:56:16 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'x-powered-by': 'Express', 'x-ratelimit-limit': '1000', 'x-ratelimit-remaining': '999', 'x-ratelimit-reset': '1633963826', 'vary': 'Origin, Accept-Encoding', 'access-control-allow-credentials': 'true', 'cache-control': 'max-age=43200', 'pragma': 'no-cache', 'expires': '-1', 'x-content-type-options': 'nosniff', 'etag': 'W/"54-J3JtLgWuXjgj1OZdyAcKAqOaKHo"', 'via': '1.1 vegur', 'CF-Cache-Status': 'HIT', 'Age': '23494', 'Expect-CT': 'max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"', 'Report-To': '{"endpoints":[{"url":"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=2%2BfANYqGfTCafHd7L95Zl2Mo9tbjBp2RF2hRbRhkE9H6TQDq51s7Zc0WB%2FFKO8d04%2Bbay%2B63rnSpyO96IkXOswUXe8K3DDkNJpcWOKDqTOwjR4eLQNaTlAABEBa0a4VwaLcs4UxMS5r9ogWIrThV"}],"group":"cf-nel","max_age":604800}', 'NEL': '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}', 'Server': 'cloudflare', 'CF-RAY': '6a008d6efbc82d2a-ORD', 'Content-Encoding': 'gzip', 'alt-svc': 'h3=":443"; ma=86400, h3-29=":443"; ma=86400, h3-28=":443"; ma=86400, h3-27=":443"; ma=86400'}

In [12]:
response.headers['x-ratelimit-remaining']

'999'

In [14]:
response_json = response.json()
print(response_json['title'])

fugiat veniam minus

In [19]:
# Import all entities in a dataframe
import pandas as pd
response_all = pd.DataFrame(requests.get('https://jsonplaceholder.typicode.com/todos').json())

In [20]:
response_all.head(6)

   userId  id                                              title  completed
0       1   1                                 delectus aut autem      False
1       1   2                 quis ut nam facilis et officia qui      False
2       1   3                                fugiat veniam minus      False
3       1   4                                   et porro tempora       True
4       1   5  laboriosam mollitia et enim quasi adipisci qui...      False
5       1   6  qui ullam ratione quibusdam voluptatem quia omnis      False

In [26]:
# POST
todo = {'completed': False, 'id': 1, 'title': 'leggi Guerra e Pace', 'userId': 2}
api_url_post = "https://jsonplaceholder.typicode.com/todos"
response = requests.post(api_url_post, json=todo)

In [27]:
response.json()

{'completed': False, 'id': 201, 'title': 'leggi Guerra e Pace', 'userId': 2}

In [28]:
new_post_id=response.json()['id']
print(new_post_id)

201

In [25]:
# 201 Created
response.status_code

201

In [29]:
# Using a more complex API
us_companies_request_url = 'https://api.usfundamentals.com/v1/companies/xbrl?format=json&token=Tn4Qgyb3hSTS8NAkC44dMw'
us_companies_indicators_url = 'https://api.usfundamentals.com/v1/indicators/xbrl?indicators=Goodwill,NetIncomeLoss,Revenues&token=Tn4Qgyb3hSTS8NAkC44dMw'

In [30]:
import pandas as pd
us_companies = pd.DataFrame(requests.get(us_companies_request_url).json())
us_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company_id      14999 non-null  object
 1   name_latest     14999 non-null  object
 2   names_previous  3358 non-null   object
dtypes: object(3)
memory usage: 351.7+ KB

In [31]:
us_companies.head(5)

  company_id               name_latest names_previous
0    1000045    Nicholas Financial Inc           None
1    1000180              Sandisk Corp           None
2    1000209  Medallion Financial Corp           None
3    1000228          Henry Schein Inc           None
4    1000229     Core Laboratories N V           None

In [47]:
us_companies_indicators_csv = requests.get(us_companies_indicators_url)
import os, sys
indicators_file = "indicators.csv"
# Open file
with open(indicators_file, mode='w') as f:
  f.write(us_companies_indicators_csv.text)

In [48]:
us_companies_indicators = pd.read_csv(indicators_file)

In [49]:
us_companies_indicators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22042 entries, 0 to 22041
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_id    22042 non-null  int64
 1   indicator_id  22042 non-null  object
 2   2010          457 non-null    float64
 3   2011          11779 non-null  float64
 4   2012          12264 non-null  float64
 5   2013          12238 non-null  float64
 6   2014          12326 non-null  float64
 7   2015          11875 non-null  float64
 8   2016          11172 non-null  float64
 9   2017          10868 non-null  float64
 10  2018          10268 non-null  float64
 11  2019          5089 non-null   float64
 12  2020          2641 non-null   float64
dtypes: float64(11), int64(1), object(1)
memory usage: 2.2+ MB

In [50]:
us_companies_indicators.head(5)

   company_id   indicator_id          2010  ...       2018       2019  2020
0     1000045  NetIncomeLoss           NaN  ... -3648000.0  3466000.0   NaN
1     1000045       Revenues           NaN  ...        NaN        NaN   NaN
2     1000180       Goodwill           NaN  ...        NaN        NaN   NaN
3     1000180  NetIncomeLoss  1.300142e+09  ...        NaN        NaN   NaN
4     1000180       Revenues  4.826807e+09  ...        NaN        NaN   NaN

[5 rows x 13 columns]

In [51]:
us_companies_indicators.indicator_id.unique()

array(['NetIncomeLoss', 'Revenues', 'Goodwill'], dtype=object)