<a href="https://colab.research.google.com/github/thimotyb/real-world-machine-learning/blob/python3/Using_Pickle_and_Flask_for_ML_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Taking the iris dataset to train a KNN as example
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
import seaborn as sns

In [6]:
train_path = "https://raw.githubusercontent.com/thimotyb/real-world-machine-learning/python3/data/Iris.csv"
train = pd.read_csv(train_path)

In [8]:
train.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

How can we actually bring the model or result attained at the notebook in local system or colab to the flask environment? Thatâ€™s where Pickle comes.